footer{
    background: #04091e;
    padding:50px  30px;
}

.infos_1{
    width: 250px;
    height: 300px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    h3{
        padding:5px;
        text-transform: uppercase;
    }
    p{
        color: grey;
        font-size: 15px;
        padding:5px;

    }
    a{
        text-decoration: none;
        color: grey;
        font-size: 15px;
    }
}
.infos{
    display: flex;
    justify-content: space-evenly; 
    flex-direction: column;
}

.news{
    background: #04091e;
    border:1px solid #f8b600;
    padding: 10px;
    display: inline-block;
}


.instafeed{
    padding: 5px;
    width: 250px;
    img{
        width: 50px;
        height: 50px;
    }
}
   

   
