//***************************//
//*********BOOK PAGE*********// 
//***************************//

//css additionnel

.book-header{
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    a{
        text-decoration: none;
        color: white; 
        padding: 5px;
    }

}

.fas{
 color: white;
 padding-top:10px;
}

.choose-container{
    background:#f9f9ff;
    padding: 20px;
    text-align: center;
    padding-bottom: 100px;
   
    p{
        color: grey;
    }
}

.choose-container2{
    text-align: center;
}


// Vue

.a-{
    text-decoration: none;
            color: rgb(20, 155, 148);
            font-weight: bold;
            &:hover{
                color:rgb(71, 54, 7);
            } 
}


    .ul-prout{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        .prout{
            list-style-type: none; 
            font-size: 25px;
            a{
            text-decoration: none;
            color: rgb(20, 155, 148);
            font-weight: bold;
            &:hover{
                color:rgb(71, 54, 7);
            }
            }
        }
    }



.book-scroll{
    display: none;
    &.scrolling{
        display: inline; 
    }
}

.btn-scroll{
    background-color:rgb(20, 155, 148);
    width: 300px;
    height: 50px;
    color: white;
    border: none;
    display: none;
    &.scrolling{
        display: inline; 
    }
}

.book-scroll2{
    display: none;
    &.scrolling{
        display: inline; 
    }
}







//********************************//
//*********PACKAGES PAGE*********// 
//******************************//



//Css additionnel packages
.affordable_tab{
    background: white;
    padding: 5px;
    text-align: center;
    margin: 20px 0px;
    img{
        width: 100%;
    }
    .aff_t_text_pack{
        text-align: left;
        p{
            // border-bottom: 1px solid #f8b600;
            font-size: 16px;
            font-weight: bold;
            color:black;
        }
        h5{  color: grey;

        }
    }
    .aff_t_tab{
        display: flex;
        justify-content: space-between;
        width: 500px;
                h5{
          color: #777777;
          font-size: 14px;

        }
        .btn-pack{
            background-color:  #f8b600;;
            width: 75px;
            height: 40px;
            font-size: 14px;
            font-weight: 600;
            padding: 5px 20px;
            border: none;
            
        }
    }
}
